<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>Chat Application</title>
</head>
<body style="margin-left: 20px">
<h1 style="margin-top: 20px">Enter</h1>
<form th:action="@{/enter}" th:object="${user}" method="post">
    <label for="username">Choose your name:</label>
    <input id="username" type="text" th:field="*{username}"/>
    <input type="submit" value="Enter"/>
</form>
<p style="font-size: 25px; margin-top: 30px" class="text-danger" th:text="${error}" />
</body>
</html>